.footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-area: footer;
    background-color: rgb(34, 34, 34);
    border-top: 2px solid rgb(51, 51, 51);
}.vk > a > img{
    width: 2em;
    height: 2em;
}.git >a > img{
    grid-row-start: 2;
    width: 2em;
    height: 2em;
}.vk > a{
    color: white;
}.git > a{
    color: white;
}.vk{
    grid-row-start: 2;
    grid-column-start: 1;
    margin-left: 5em;
    margin-top: 1em;
}.git{
    grid-row-start: 2;
    grid-column-start: 1;
    margin-left: 2em;
    margin-top: 1em;
}.footer > p{
    grid-row-start: 1;
    margin-left: 0.5em;
    color: white;
}