.footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1 3.5rem;
    background-color: rgb(34, 34, 34, 0.6);
    border-top: 2px solid rgb(51, 51, 51);
opacity: 0.9;
}.vk > a > img{
    width: 2em;
    height: 2em;
}.git >a > img{
    width: 2em;
    height: 2em;
}.vk > a{
    color: white;
}.git > a{
    color: white;
}.vk{
    display: grid;
    margin-left: 6%;
    width: 2em;
    height: 2em;
    grid-row-start: 2;
    grid-column-start: 1;

}.git{
    display: grid;
    margin-left: 1%;
     width: 2em;
    height: 2em;
    grid-row-start: 2;
    grid-column-start: 1;
}.footer > p{
    grid-row-start: 1;
    color: white;
}