.singlepage_wrapper{
    display: grid;
 grid-template-rows: 4.5em auto auto;
 grid-template-columns: 100%;
 grid-template-areas: 
 "h"
 "cont"
 "footer"
 ;
 }
 
 .wrap_content{
     display: grid;
     grid-area: cont;
     grid-template-columns: 100%;
     grid-template-rows: min-content;
    overflow-y: scroll;
    scroll-snap-align: start;
    max-height: 40.3rem;
     color: white;
     }
 
 