.nav{
    grid-area: nav;
    padding: 1em;
}
.dropbtn {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(34, 34, 34);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 2px solid rgb(51, 51, 51);
}
.imgmenu {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 8em;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}