.dialogs{
    margin-top: 2rem;
    margin-bottom: 4rem;
margin-left: auto;
margin-right: auto;
}

.bubble{
    position: relative;
    background-color: rgb(34, 34, 34);
    word-wrap:break-word;
    opacity: 0.9;
}


.user{
   justify-self: start; 
    border: none;
    color: white;
    font-weight: bold;
padding: 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}.message{
    justify-self: start; 
    margin-left: 1em;
    font-size: 1rem;

}.inp{
    font-size:15px;
    font-weight:bold;
  color:rgb(40, 0, 41);
  border-radius: 10px;
}.scroller{
    overflow-y: scroll;
    scroll-snap-align: start;
max-height: 50em;
display: flex;
flex-direction: column;
justify-content: flex-end;
}