.todoContiner{
    display: grid;
    max-width: 18rem;
    min-height: 23rem;
    max-height: 24.2rem;
    grid-template-rows: 2rem 20rem 1rem;
    background-color: rgb(34, 34, 34, 0.9);
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 0px 8px 16px 6px rgba(0,0,0,0.2);
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.todoHeader{
display: grid;
grid-template-columns: 16rem 2rem;
grid-template-rows: 1.6rem;
height: 1.6rem;
border-bottom: 1px solid rgb(51, 51, 51);;
}

.inpaddtodo{
    background: rgb(34, 34, 34);
    color: white;
    height: 1.6rem;
    width: 15.9rem;
    grid-column-start: 1;
    grid-row-start: 1;
}.btnaddtodo{
    background-color: rgb(34, 34, 34);
    border: none;
    color: white;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    grid-column-start: 2;
    grid-row-start: 1;
}.btnfunc > button{
    cursor: pointer;
    height: 1rem;
    width: 4.5rem;
    border-left: 1px solid rgb(51, 51, 51);
    border-right: 1px solid rgb(51, 51, 51);
    border-bottom: none;
    border-top: 1px solid rgb(51, 51, 51);
    background-color: rgb(34, 34, 34);
color: white;
}.empty{
   opacity: 0.3;
}.todocont2 {
    overflow-y: scroll;
    scroll-snap-align: start;
    grid-row-start: 2;
}






.todocont{
    display: grid;
    width: min-content;
    grid-template-columns: 2rem 16rem;
    grid-template-rows: min-content;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgb(34, 34, 34);
max-width: 18rem;
}.nocomplete{
    display: grid;
    grid-column-start: 2;
    background-color: rgb(34, 34, 34);
padding: 1rem;
overflow-wrap: break-word;  
cursor: pointer;
word-wrap: break-word;
word-break: keep-all; 
}
.complete{
    display: grid;
    background-color: rgb(34, 34, 34);
    grid-column-start: 2;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.5;
    overflow-wrap: break-word;  
        word-wrap: break-word;
        text-decoration: line-through;
        word-break: keep-all;  
}.checkactive {
    margin-top: -2rem;
    margin-left: 1rem;
        border: 2px solid #222;
        display: inline-block;
        border-radius: 3px;
        background: #222 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
        transition: background-size 0.2s ease;
        cursor: pointer;
      }